<div class="modal d-block bg-dark bg-opacity-50" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nowe zadanie</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="onClose()"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label class="form-label">Nazwa</label>
            <input type="text" class="form-control" formControlName="name" />
            <div *ngIf="submitted && nameControl?.invalid" class="text-danger">
              <small *ngIf="nameControl?.errors?.['required']"
                >Nazwa jest wymagana.</small
              >
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Data</label>
            <input type="date" class="form-control" formControlName="date" />
            <div *ngIf="submitted && dateControl?.invalid" class="text-danger">
              <small *ngIf="dateControl?.errors?.['required']"
                >Data jest wymagana.</small
              >
              <small *ngIf="dateControl?.errors?.['dateInvalid']"
                >Data nie może być przeszła.</small
              >
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Opis</label>
            <textarea
              class="form-control"
              rows="3"
              formControlName="description"
            ></textarea>
          </div>

          <div class="text-end">
            <button type="submit" class="btn btn-primary">Zapisz</button>
            <button
              type="button"
              class="btn btn-secondary ms-2"
              (click)="onClose()"
            >
              Anuluj
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
