<div class="container my-4">
  <div
    class="d-flex justify-content-between align-items-center mb-3 flex-wrap gap-2"
  >
    <h3 class="mb-0">Lista zadań</h3>
    <button class="btn btn-primary" (click)="openModal()">Nowe zadanie</button>
  </div>

  <app-task-filter
    (nameChange)="filterName = $event"
    (dateChange)="filterDate = $event"
    (statusChange)="filterStatus = $event"
  ></app-task-filter>

  <ul class="list-group">
    @for (task of filteredTasks; track $index) {
    <app-task-item
      [task]="task"
      (toggle)="toggleCompleted(task)"
    ></app-task-item>
    }
  </ul>
</div>

<app-task-add-modal
  *ngIf="showModal"
  (close)="closeModal()"
  (add)="addTask($event)"
></app-task-add-modal>
